<div class="container">
  <h1 class="text-center">User Information</h1>
  <br>
  
  <div>
    <label class="col-md-12 control-label" for="textinput">First Name</label>  
    <div class="col-md-4 margin">
      <input [(ngModel)]= "firstName" id="textinput" name="textinput" type="text" placeholder="First Name" class="form-control input-md">
    </div>
  </div>
  <br/>

  <div>
    <label class="col-md-12 control-label" for="textinput">Last Name</label>  
    <div class="col-md-4 margin">
      <input [(ngModel)]="lastName" id="textinput" name="textinput" type="text" placeholder="Last Name" class="form-control input-md">
    </div>
  </div>
  <br/>

  <div>
    <label class="col-md-12 control-label" for="selectEmail">Email</label>
    <div class ="col-md-6 margin">
      <select id="selectEmail" class="form-control">
        <option *ngFor="let email of emails">{{email}}</option>
      </select>
    </div>
  </div>
  <br/>

  <form #form="ngForm" (ngSubmit)="addEmail()" >
    <div>
      <a href="#" class="email-btn">
        <label class="col-md-12 control-label" for="email" (click)="togglestates()">Add Email</label>
      </a> 
      <div class="col-md-4" [@showField]="state" >
        <input [(ngModel)]="newEmail" id="textinput" name="textinput" type="email" placeholder="Enter Email" class="form-control input-md">
        <button type="submit" class="btn btn-primary" >Add Email</button>
        <div *ngIf="errMsg">
          <div class="alert alert-danger">
            {{errMsg}}
          </div>
        </div>
      </div>
    </div>
  </form>
</div> 
